.profile-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 100%;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.profile-title-color {
  color: #a50a9d;
}

.profile-subtitle {
  font-size: 1rem;
  color: #666565;
  margin-top: 0.25rem;
}

.footer-icon {
  color: #555;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.footer-icon:hover {
  color: #007bff;
}

.carlos-name {
  color: #007bff; 
}

